<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.example.bean.Employee">
    <constructor>
      <idArg column="ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="DEPT_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="JOB_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CARD_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ADDRESS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="POST_CODE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TEL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PHONE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="QQ_NUM" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EMAIL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SEX" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="PARTY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="BIRTHDAY" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="RACE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EDUCATION" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SPECIALITY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HOBBY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="REMARK" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from employee_inf
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.bean.Employee">
    insert into employee_inf (ID, DEPT_ID, JOB_ID, 
      NAME, CARD_ID, ADDRESS, 
      POST_CODE, TEL, PHONE, 
      QQ_NUM, EMAIL, SEX, 
      PARTY, BIRTHDAY, RACE, 
      EDUCATION, SPECIALITY, HOBBY, 
      REMARK, CREATE_DATE)
    values (#{id,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, #{jobId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{postCode,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{qqNum,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{party,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{race,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{speciality,jdbcType=VARCHAR}, #{hobby,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.bean.Employee">
    update employee_inf
    set DEPT_ID = #{deptId,jdbcType=INTEGER},
      JOB_ID = #{jobId,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      CARD_ID = #{cardId,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      POST_CODE = #{postCode,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      QQ_NUM = #{qqNum,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=INTEGER},
      PARTY = #{party,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      RACE = #{race,jdbcType=VARCHAR},
      EDUCATION = #{education,jdbcType=VARCHAR},
      SPECIALITY = #{speciality,jdbcType=VARCHAR},
      HOBBY = #{hobby,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, DEPT_ID, JOB_ID, NAME, CARD_ID, ADDRESS, POST_CODE, TEL, PHONE, QQ_NUM, 
    EMAIL, SEX, PARTY, BIRTHDAY, RACE, EDUCATION, SPECIALITY, HOBBY, REMARK, CREATE_DATE
    from employee_inf
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, DEPT_ID, JOB_ID, NAME, CARD_ID, ADDRESS, POST_CODE, TEL, PHONE, QQ_NUM, 
    EMAIL, SEX, PARTY, BIRTHDAY, RACE, EDUCATION, SPECIALITY, HOBBY, REMARK, CREATE_DATE
    from employee_inf
  </select>
</mapper>